body {
  background: #F7F9FC;
  color: #575F7D;
  font-size: 17px;
  font-weight: lighter;
}

h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: #7ECE90;
  font-size: 20px;
  font-weight: 500;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 15px 35px rgba(50,50,93,0.1 );
  border-radius: 4px;
  margin: 25px auto;
  text-align: center;
  text-justify: center;
  width: 600px;
}

.button-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.button-blue:hover {
	background-color: #6B72E1;
	color: yellow;	
}

a {
  font-family: 'Overpass', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 500;
  font-size: 16px;
}
a:hover {
  color: pink;
}

img {
	border-radius: 50%;
	width: 100px;
}

p {
	font-family: 'Overpass', sans-serif;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 30px;
	color: rgb(190, 190, 190);
}

.list-inline i:hover {
	font-size: 30px;
	color: #6B72E1;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card-white {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card-white {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card-white {
    width: 300px;
  }
}






